@import '../../../variables';

.highlight-item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  clear: both;
  border-bottom: 1px solid $mainDark;
  user-select: none;
  color: $pinTextCol;
  font-size: 14px;
  line-height: 16px;

  &.normal-mode:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    & > div:first-child {
      color: #fff;
    }
  }

  img.preview {
    width: 70px;
  }

  i {
    padding-left: 6px;
    font-size: 14px;
  }

  input {
    width: 250px;
    border: none;
    padding: 2px 5px;
    margin-bottom: 2px;
  }

  .highlight-content {
    width: 100%;
    display: grid;
    grid-template-columns: 70px auto;
    column-gap: 10px;

    > span {
      height: 22px;
      width: 22px;
      position: absolute;
      cursor: pointer;
    }

    &.selected {
      > span {
        &::before {
          content: '';
          background: #fff;
          left: 5px;
          top: 5px;
          width: 22px;
          height: 22px;
          border-radius: 11px;
          position: absolute;
        }

        &::after {
          content: '';
          width: 4px;
          height: 10px;
          border-right: 4px solid #191a25;
          border-bottom: 4px solid #191a25;
          transform: rotate(45deg);
          position: absolute;
          left: 11px;
          top: 8px;
        }
      }
    }

    &.unselected {
      > span {
        &::before {
          content: '';
          background: #fff;
          left: 5px;
          top: 5px;
          width: 22px;
          height: 22px;
          border-radius: 11px;
          position: absolute;
        }
      }
    }

    .pin-description-toggle {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      flex-grow: 1;
      margin-bottom: 0;

      i {
        font-size: 16px;
        color: $primaryCol;
      }
    }
  }

  .highlight-info {
    display: flex;
    flex-direction: column;

    .highlight-info-row {
      margin-bottom: 3px;

      .add-to-compare {
        float: right;
      }

      i {
        color: $primaryCol;
      }
    }
  }

  .zoom-to-highlight {
    float: right;
  }
}
