@import '../variables.scss';

.terms-and-privacy {
  color: $textCol;
  height: 100%;

  .message {
    .link-external {
      color: $primaryCol;
    }
  }

  .reject-message {
    text-align: center;
  }

  .button-holder {
    display: inline-block;
    margin-top: 20px;

    .eob-btn {
      margin-right: 10px;
      width: 60px;
      text-align: center;
    }
  }

  .log-in-option {
    margin-top: 10px;
    font-size: 12px;

    .log-in-button {
      color: $primaryCol;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .learn-more {
    margin-top: 10px;
  }

  .back-btn {
    margin-top: 15px;
  }
}
