@import '../../../variables';

.confirm-action-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .content {
    display: flex;
    flex-direction: column;

    div {
      padding: 2px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;

    a {
      margin: 0 10px;
    }
  }
}
