@import '../../../variables';

.commercial-data-search {
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 7px 0 2px 0;

    .aoi-selection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      i {
        color: $primaryCol;
        padding: 0 4px;
        cursor: pointer;

        &.disabled {
          color: $textColor;
          cursor: not-allowed;
        }
      }
    }

    .react-toggle {
      margin-left: 0;
    }

    > * {
      flex: 1;
    }
  }
}
