.filter-search-by-months {
  color: #cdd5e3;
  font-size: 0.9em;
  margin: 10px 10px 10px 8px;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;

    input {
      width: 15px;
      height: 15px;
    }
  }

  .months {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-left: 15px;
  }
}
