@import '../variables.scss';

.non-eligible-psd-modal {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  color: $textCol;

  .text {
    h3,
    p {
      line-height: 1.5;
      margin-top: 10px;
    }

    a {
      color: $primaryCol;
    }
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;

    .eob-btn {
      text-align: center;
      min-width: 175px;
      font-weight: $fontWeightBold;
    }
  }
}
