.map-wrapper {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.mainMap {
  height: 100%;
  width: 100%;
}

.cursor-marker {
  z-index: 100000;
}

.icon {
  width: 30px;
  height: 30px;
}
#mapCoords {
  position: absolute;
  right: 115px;
  font-size: 10px;
  bottom: 0;
  background: #22232d;
  color: #eee;
  padding: 1px;
  min-width: 160px;
  text-align: center;
  z-index: 1;
}

.layers {
  position: absolute;
  right: 10px;
  top: 50px;
}

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 0px !important;
}
