@import './../../variables.scss';

.img-download-btn-wrapper {
  z-index: 400;
  cursor: pointer;
  position: absolute;
  top: 260px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  background: $mainDark;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px #000;
  text-align: center;

  .disabled {
    opacity: 0.5;
  }
}
