@import '../../variables';

.bandItem.gu-mirror {
  z-index: 100 !important;
  border-radius: $bandPopupSize;
  text-align: center;
  width: $bandPopupSize;
  height: $bandPopupSize;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}

#colorsOutput {
  text-align: center;
}
#colorsWrap {
  color: #fff;
}
.colorsContainer {
  min-height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  text-align: center;

  div {
    box-shadow: 2px 2px 3px #333;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    text-align: center;
    line-height: 34px;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    background: purple;
  }
}

.colHolder {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 10px;
  background: #222;
  border-radius: 50px;
  position: relative;

  &:before {
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    opacity: 0.3;
    border: 1px solid #fff;
    border-radius: 100px;
    content: '';
    display: block;
  }

  div {
    border-radius: 50px;
    box-shadow: 2px 2px 3px #333;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: inherit;
    height: inherit;
    background: purple;
    text-align: center;
    line-height: 50px;
    text-shadow: 0 1px 0 #333;

    &.gu-transit {
      z-index: 1;
    }
  }
}

.toggleBandMode {
  position: relative;
  float: right;
  background: $mainMedium;
  width: 72px;
  height: 28px;
  border-radius: 30px;
  padding: 2px;
  cursor: pointer;
  i {
    border-radius: 20px;
    padding: 2px 4px;
    position: absolute;
    left: 8px;
    top: 6px;
    color: #fff;
    font-size: 16px;

    &.script {
      right: 8px;
      left: auto;
    }
  }

  &:before {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 30px;
    height: 25px;
    border-radius: 25px;
    content: '';
    background: $primaryCol;
    transition: all ease 0.4s;
  }
  &.script:before {
    left: 40px;
  }
}
