/* stylelint-disable */
@import '../variables';

.visualization-time-select {
  display: flex;
  align-items: center;
  text-transform: none;
  color: white;
  text-align: center;
  margin-top: 25px;

  .inlineDatepicker {
    border-bottom: 1px solid white;
    margin: 0 15px;
    padding: 3px;
    display: flex;
    align-items: baseline;

    &:hover {
      border-color: $primaryCol;
    }

    i.fa.cal-icon-left,
    i.fa.cal-icon-right,
    i.fa.cal-icon-cal {
      font-size: 13px;
      line-height: 0;
    }

    input.react-date-field__input {
      font-size: 13px;
      padding-left: 3px;
    }

    .DayPicker-Month {
      margin: 1rem;
    }
  }

  .DayPicker-Day--available {
    padding: 9px;
    cursor: pointer;
  }

  .time-select-type {
    text-transform: none;
    font-weight: normal;
    color: $textColor;
    margin-left: 0;
  }

  div:last-child {
    margin-left: auto;
  }

  .timespan-label {
    border-bottom: 1px solid white;
    display: flex;
    font-size: 13px;
    height: 15px;
    align-items: flex-end;
    margin: 0 15px;
    padding: 0 5px 3px 5px;
    line-height: 10px;

    &:hover {
      cursor: pointer;
      border-color: $primaryCol;
    }
  }

  .timespan-toggle {
    color: $primaryCol;
    font-size: 13px;
    cursor: pointer;
  }
}
