@import '../../variables.scss';

.draggable-dialog-box {
  z-index: 9999;
  position: absolute;
  background-color: $mainDark;
  color: $textColor;

  .drag-handle {
    cursor: grab;
  }
}

.draggable-dialog-box-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}
