/* stylelint-disable */
@import '../variables.scss';

.panelButton {
  position: absolute !important;
  right: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  background: $mainDark;
  color: #fff;
  height: 40px;
  -webkit-box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px #000;
  text-align: center;

  &.aoiPanel {
    top: 60px;

    .aoiCords {
      padding-left: 5px;
    }

    .area-text {
      padding: 5px;
    }
  }

  &.poiPanel {
    top: 110px;
  }

  &.measurePanel {
    top: 160px;

    .aoiCords {
      padding-left: 5px;
    }
  }

  &.screenshotPanelButton {
    top: 210px;
  }

  &.timelapsePanelButton {
    top: 260px;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }

  .drawGeometry {
    background-color: $mainDark;
    height: 40px;
  }

  i {
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
  }

  a {
    color: #b6bf00;
    background: none;
    display: inline-block;
    width: 40px;
    text-align: center;
  }

  a.disabled {
    opacity: 0.5;
  }
}

.floatItem {
  position: relative;
  background: $mainMedium;
  padding: 0;
  color: #fff;
  margin: 0;
  height: $controlsHeight;
  border: none;
  overflow: visible;
  box-shadow: 0 2px 5px #000;

  > i {
    width: $controlsHeight;
    height: $controlsHeight;
    background: $mainDark;
    color: #fff;
    text-align: center;
    line-height: $controlsHeight - 2px;

    & + span {
      font-size: 15px;
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: 700px) {
  .floatItem {
    z-index: 1;
    box-shadow: none;

    & > i {
      cursor: pointer;
    }

    & > span.hideable {
      width: 0;
      height: 0;
      display: block;
      overflow: hidden;
    }

    &.active > span.hideable {
      width: auto;
      height: auto;
      overflow: visible;
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      line-height: 28px;
      text-align: center;
      background: $mainMedium;
      white-space: nowrap;
      padding: 2px 5px;
      box-shadow: 0 2px 10px #000;
    }
  }
}
