@import '../../variables';

.pin-tools {
  display: flex;
  justify-content: space-between;
  color: #fff;

  > div,
  a {
    cursor: pointer;
    color: #b6bf00;
    text-decoration: none;
    text-align: center;
    margin: 0 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
  }

  .file-upload-dialog {
    color: $textCol;

    .file-upload-panel {
      border: 2px dashed #aaa;
      cursor: pointer;
      text-align: center;
      padding: 20px;
    }

    .ok {
      box-shadow: 0 0 3px #0c0;
    }

    .false {
      box-shadow: 0 0 3px #c00;
    }

    .error {
      color: #c14444;
      text-align: left;
      white-space: pre-wrap;
      max-height: 80px;
      max-width: 400px;
      overflow-y: auto;
    }
  }
}
