.custom-ccslider {
  margin: 15px 70px 0 0;

  .rc-slider {
    display: inline-block;
    width: 200px;

    .rc-slider-handle {
      border-color: #b6bf00;
    }

    .rc-slider-track {
      background: #b6bf00;
    }
  }
}
