@import '../EOBCommon/variables.scss';

.colors-container {
  min-height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  text-align: center;
  padding: 10px;

  .band-item {
    border-radius: 50px;
    border: 2px solid #333;
    color: #fff;
    cursor: move;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    margin: 5px 8px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    transform: translate(0, 0);
    user-select: none;
    white-space: nowrap;
    width: 42px;
  }
}

.colors-output {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;

  &.index {
    font-size: 24px;
    color: $textColor;
  }

  .divide {
    padding: 0 10px;
  }
}

.col-holder {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 10px;
  background: #222;
  border-radius: 50px;
  position: relative;

  &::before {
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    opacity: 0.3;
    border: 1px solid #fff;
    border-radius: 100px;
    content: '';
    display: block;
  }

  &.is-active {
    opacity: 0.4;

    &::before {
      opacity: 0.8;
      border: 2px solid $primaryCol;
    }
  }

  &.can-drop {
    &::before {
      opacity: 1;
      border: 2px solid $primaryCol;
    }
  }

  .selected-band {
    border-radius: 50px;
    background: purple;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.dropdown.index {
  display: inline-block;
  width: 110px;
  padding-right: 26px;
  font-size: 14px;
  margin: 0;
}

// remove select dotted outline on firefox
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

// this could probably go in a seperate css
.treshold {
  position: relative;

  .fa {
    color: $primaryCol;
    cursor: pointer;
  }

  .scale-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    input {
      background: $mainDark;
      border-radius: 2px;
      border: 2px solid $mainLight;
      color: white;
      font-size: 14px;
      font-weight: bold;
      margin: 4px 0;
      padding: 4px;
      text-align: center;
      width: 40px;
    }
  }

  .gradient {
    display: block;
    width: 100%;
    height: 30px;
  }

  .gradients-list {
    border: 1px solid $mainDark;
    position: absolute;
    margin-top: 0;
    z-index: 9000;
  }

  .gradient-option {
    display: block;
    width: 100px;
    height: 24px;
    cursor: pointer;
  }

  .add-remove-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: -38px;

    .btn.primary {
      border-radius: 2px;
      padding: 1px 3px;
      margin-left: 4px;
      margin-bottom: 16px;

      i {
        margin-right: 0;
      }
    }
  }

  .slider {
    width: 100%;
    height: 42px;

    .slider-keyboard-handle {
      .handle-value {
        position: relative;
        margin-left: -10px;
        font-size: 12px;
        display: none;
        background-color: $mainDark;
        border-radius: 4px;
        border: 2px solid rgba(255, 255, 255, 0.8);
        width: 28px;
        padding: 4px 2px;
        text-align: center;
      }

      &:focus,
      &:hover {
        .handle-value {
          color: white;
          display: block;
        }
      }
    }
  }
}
