@import '../../variables';

$textCol: #eee;
$headerBorderWidth: 2px;
$headerPadding: 10px;

.results {
  display: flex;
  flex-direction: column;
  flex: 1;

  .results-heading {
    border-bottom: $headerBorderWidth solid #b6bf00;
    background-color: $mainMedium;
    z-index: 501;
    padding: $headerPadding;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 14px;
    position: sticky;
    top: 0;

    .showing-n-results {
      text-align: right;
    }

    .back-to-search {
      max-width: 50%;
      text-align: center;
      padding: 6px 12px;
    }
  }

  .img-info {
    display: flex;
    flex-direction: row;
  }

  .img-btn {
    display: flex;
    flex-direction: column;
  }

  .result-item {
    margin-bottom: 10px;
    position: relative;
    transition: all ease 0.4s;
    padding: 10px;
    background: $mainLight;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      margin-top: 10px;
    }

    .no-image {
      text-align: center;
      font-style: italic;
      justify-content: center;
      opacity: 0.6;
      max-width: none !important;
      padding: 0 0 5px 0;
      width: 125px;
    }

    & > * {
      margin-right: 0;
      vertical-align: top;
    }

    .preview-image {
      width: 125px;

      &:hover {
        cursor: pointer;
      }
    }

    .show-link-panel {
      padding: 10px 0 0 0;
      color: $textColor;
      text-align: left;
      width: 100%;
    }

    .scihub-link {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $primaryCol;
    }

    .aws-path {
      color: $textCol;
    }

    .path-link-icon {
      float: right;
      margin-left: 6px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      &.active {
        background: $primaryCol;
        color: #fff;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        color: $primaryCol;
      }

      .fa-link {
        margin-right: 0 !important;
      }
    }

    .details {
      padding: 0 0 0 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .detail {
        padding: 3px 0;

        &.bold {
          font-weight: bold;
        }

        & > :first-child {
          width: 20px;
          display: inline-block;
          margin-right: 5px;
        }

        sup {
          vertical-align: top;
          padding-left: 2px;
        }
      }

      svg path {
        fill: $textCol;
      }
    }
  }

  .results-panel {
    background-color: $mainMedium;
    padding: 0 10px 10px 10px;
    color: $textCol;

    & > .eob-btn {
      display: block;
      text-align: center;
    }

    .rodal .results-panel {
      height: calc(100% - 20px);
      overflow: auto;
      background: $mainDark;

      .results-heading {
        background: $mainDark;
        padding-left: 0;
      }

      .result-item {
        background: $mainMedium;
      }
    }

    .results-controls {
      width: 100%;
    }
  }
}
