@import '../../variables.scss';

/* stylelint-disable */
.tabs-container {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-flow: column;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $mainDark;

  li {
    flex: auto;
    text-align: center;
    list-style: none;
    cursor: pointer;
    color: #eee;
    padding: 9px 4px 7px;
    border-bottom: 4px solid transparent;

    @media screen and (max-width: 430px) {
      padding: 9px 9px 7px 9px;
    }

    &[disabled] {
      color: #aaa;
    }
  }

  .fa-icon {
    font-size: 15px;
    fill: #aaa;
    margin: 0 6px 0 0;

    @media screen and (max-width: 430px) {
      display: none;
    }
  }

  & .tab-selected {
    color: #fff;
    background-color: $mainMedium;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .counter-badge {
    margin-right: 5px;
    padding: 3px 3px;
    border-radius: 15%;
    background: #b6bf00;
    color: white;
    font-size: 14px;
  }
}

.tabPanelContainer {
  max-height: 100%;
  overflow-y: auto;

  > div {
    display: none;
  }

  > div.active {
    display: block;
  }
}
