@import '../../variables.scss';

.inline-flex {
  display: inline-flex;
}
.DayPicker {
  display: block;
}
.DayPicker-wrapper {
  background-color: $mainMedium;
  select {
    background: $mainMedium;
    color: #fff;
    cursor: default;
    border: 1px solid #797373;
    font-size: 14px;
    text-transform: capitalize;
    padding: 1px 2px;
    margin: 0 2px;
    max-width: 90px;
  }
}
.day-overlay {
  left: 0px;
  z-index: 600;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.DayPicker-Day {
  padding: 0.6em;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  color: #f0f8ff;
  background-color: $primaryCol;
  border-radius: 100%;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #58595a;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #595d61;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #7b8fa0;
  border-radius: 50%;
}
.DayPicker-Day--available {
  background-color: #585b5e;
  color: white;
  border-radius: 50%;
}
.DayPicker-Day--disabled {
  color: #5f6363;
  cursor: default;
}
input.react-date-field__input {
  background: none;
  color: #eee;
  border: none !important;
}
input.react-date-field__input {
  background: none;
  color: #eee;
  width: 100px;
  border: none !important;
}
/***month and year select***/ //

i.fa.cal-icon-left:hover,
i.fa.cal-icon-right:hover,
i.fa.cal-icon-cal {
  cursor: pointer;
}
i.fa.cal-icon-left,
i.fa.cal-icon-right {
  color: #fff;
}
i.fa.cal-icon-left,
i.fa.cal-icon-right,
i.fa.cal-icon-cal {
  width: $controlsHeight/2;
}
i.fa.cal-icon-left.disabled,
i.fa.cal-icon-right.disabled {
  color: #aaa;
}
.date-nav-button {
  color: #eaeaea;
  background-color: #eee0;
  border: none;
  cursor: pointer;
  margin-top: 14px;
}
.DayPicker-Weekdays {
  margin-top: 1rem;
  display: table-header-group;
  text-transform: capitalize;
}
.DayPicker-Caption {
  padding: 0 2.5rem;
  display: table-caption;
  text-align: center;
  margin-bottom: 14px;
}
