@import '../../variables';

.commercial-data-panel {
  color: $textCol;
  display: flex;
  flex-flow: column;

  .accordion-title {
    font-weight: 500;
    font-size: 16px;
  }

  .accordion-content {
    p {
      font-size: 1em;

      a {
        color: $primaryCol;
      }
    }

    ul {
      li {
        a {
          color: $primaryCol;
        }
      }
    }
  }
}
