.data-fusion-additional-parameters {
  .additional-parameter {
    width: 100%;
    display: flex;
    padding-top: 3px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    select {
      width: 50%;
      margin-left: 5px;
    }

    input[type="text"] {
      flex-grow: 1;
      margin-left: 5px;
      margin-top: 2px;
    }

    .additional-parameter-description {
      font-size: 10px;
      font-style: italic;
    }
  }
}
