.notification-panel {
  margin: 10px auto;
  max-width: 400px;
  padding: 10px;
  position: relative;
  text-align: center;
  color: orange;
  font-size: 14px;

  .fa {
    margin-right: 6px;
  }

  a {
    color: orange;
  }
}
