@import '../../variables.scss';

.fis {
  color: #fff;

  .export-csv-button {
    margin-right: 20px;
    float: right;
  }

  div.ccslider {
    font-size: 1em;
    margin: -40px 70px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .last-band-msg,
    .not-all-layers-support-cc {
      font-size: 12px;
      opacity: 1;
    }

    &.disabled {
      .cc-slider {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  div.fis-content {
    font-size: 0.8em;
    padding: 10px 0;

    .fis-content-inner-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .compared-layers-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        background-color: $mainMedium;
        max-height: 380px;
        width: 100%;
        max-width: 350px;
        overflow-y: auto;

        .compared-layer {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          background-color: $mainMedium;
          gap: 10px;
          padding: 10px;
          border-bottom: 1px solid $mainDark;

          .preview {
            width: 50px;
            height: 50px;
          }

          .compared-layer-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 12px;
          }
        }

        .notification-panel.statistics-info-notice {
          color: $textColor;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 0 0 10px 0;
          gap: 10px;

          p {
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }
  }

  div.fetching {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 320px;

    i {
      margin-right: 10px;
    }
  }

  div.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;

    .error-message {
      word-break: break-all;
      margin-bottom: 20px;
    }
  }

  div.interval-buttons {
    margin: 0 50px 20px;
    display: flex;
    justify-content: space-around;

    a.eob-btn {
      border-radius: 0;
      border-bottom: 3px solid transparent;
    }

    a.eob-btn.selected {
      border-bottom: 3px solid #b6bf00;
    }
  }

  div.fetching-small {
    right: 30px;
    top: -20px;
    background-color: #22232d;
    padding: 15px;
    border: 1px solid #666;
  }

  svg.visualization-layer {
    text {
      fill: #fff;
    }

    path,
    line {
      fill: none;
    }

    path.tick-line {
      shape-rendering: crispEdges;
      stroke: #666;
      stroke-dasharray: 5, 5;
    }

    line.axis-baseline {
      shape-rendering: crispEdges;
      stroke: #eee;
    }
  }

  svg.background-graphics {
    text {
      fill: #fff;
    }

    path,
    line {
      fill: none;
    }

    path.tick-line {
      shape-rendering: crispEdges;
      stroke: #666;
      stroke-dasharray: 5, 5;
    }

    line.axis-baseline {
      shape-rendering: crispEdges;
      stroke: #eee;
    }
  }

  svg.legend {
    margin-left: 50px;

    text {
      fill: #fff;
    }
  }

  div.annotation {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    min-width: 200px;

    ul {
      padding-left: 20px;
    }

    hr {
      border: none;
      background-color: #666;
      height: 1px;
    }
  }
}

.rc-tooltip {
  z-index: 33333;
}
