/* stylelint-disable */
@import '../../variables.scss';

.timespan-picker {
  display: flex;
  flex-direction: column;
  background: $mainDark;
  font-size: 14px;
  text-transform: none;
  margin-top: 10px;
  padding-top: 5px;

  .date-time-input-label {
    min-width: 45px;
    font-size: 14px;
    padding-top: 6px;

    @media screen and (max-width: 450px) {
      padding-bottom: 3px;
    }
  }

  .date-time-input {
    color: $textColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 5px;
    justify-content: space-between;

    @media screen and (max-width: 450px) {
      &.expanded {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .date-input {
      display: flex;
      align-items: center;
      position: relative;
      width: 115px;

      .date-picker-loader {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .time-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 3px;

      > div {
        margin-right: 5px;
      }

      i {
        color: $primaryCol;
        margin-right: 5px;
      }
    }
  }

  .apply-button {
    display: flex;
    justify-content: flex-end;

    .eob-btn {
      margin: 10px 6px 6px 6px;
    }
  }
}

.numeric-input {
  display: flex;
  align-items: center;
  border: 1px solid $primaryCol;
  border-radius: 5px;
  height: 25px;
  padding-right: 5px;

  label {
    color: $textColor;
    padding-left: 5px;
  }

  input {
    text-align: center;
    background: $mainDark;
    color: white;
    border: none;
    max-width: 41px;
    padding: 0 5px;
  }

  .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .up,
    .down {
      margin: -3px 0;

      i {
        color: $textColor;
      }
    }
  }
}
