.myProgress {
  width: 50%;
  background-color: #ddd;
}

.myBar {
  width: 1%;
  height: 20px;
  background-color: #b6bf00;
}
.left-checkbox label {
  text-align: right;
  float: right;
  font-weight: bold;
}

.left-checkbox input[type='checkbox'] {
  margin-left: 0;
}

.wrapHolder {
  box-shadow: 0 0 10px #000;
  position: fixed;
  left: 5%;
  top: calc(5vh);
  width: 90%;
  height: 90vh;
  z-index: 100;
  background: #385168;
  color: #fff;

  > h1 {
    font-size: 20px;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 0 1px;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
  }
}

.wrap {
  height: calc(100% - 50px);
  display: flex;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: relative;
  width: 20px;
  display: inline-block;
}
.loader:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
}

.date-range {
  margin-right: 15px;
}

.maxCC {
  border: none;
  border-bottom: 1px solid #fff;
  padding: 5px;
  color: #fff;
  background: none;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 15px;

  i {
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 48px;
  }
}

.side {
  flex-basis: 320px;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  .head {
    padding: 10px;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    input {
      width: 70px;
    }

    a {
      margin-top: 15px;
      cursor: pointer;
    }
  }
  .filter-tools {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    padding: 0px 0 25px 0;
  }
  .filter-tools > div {
    flex: 1 1 auto;
    text-align: center;
    margin: 10px;
  }

  .images {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    flex: 1;
    div {
      border: 2px solid rgba(146, 146, 146, 0);
      max-width: 200px;
      max-height: 200px;
      vertical-align: top;
      position: relative;
      cursor: pointer;
      margin: 2px;
      transition: max-height 0.2s ease-in;
      span {
        height: 22px;
        width: 22px;
        position: absolute;
        cursor: pointer;
      }
      &.active {
        span {
          &:before {
            content: '';
            background: #fff;
            left: 5px;
            top: 5px;
            width: 22px;
            height: 22px;
            border-radius: 11px;
            position: absolute;
          }
          &:after {
            content: '';
            width: 4px;
            height: 10px;
            border-right: 4px solid green;
            border-bottom: 4px solid green;
            transform: rotate(45deg);
            position: absolute;
            left: 11px;
            top: 8px;
          }
        }
      }
      &.false {
        background-color: rgba(146, 146, 146, 0.21);
        max-height: 20px;
        transition: max-height 0.2s ease-out;
        span {
          &:before {
            content: '';
            background: #fff;
            left: 5px;
            top: 1px;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            position: absolute;
          }
        }
        img {
          visibility: hidden;
        }
      }
      &.cloudy {
        background-color: rgba(146, 146, 146, 0.21);
        max-height: 20px;
        transition: max-height 0.2s ease-out;
        span {
          &:before {
            content: '\F0C2';
            font-family: FontAwesome;
            font-style: normal;
            font-weight: 300;
            text-decoration: inherit;
            color: #658db0;
            font-size: 16px;
            padding-right: 0.5em;
            position: absolute;
            top: 0;
            left: 5px;
          }
        }
        img {
          visibility: hidden;
        }
        i {
          background-color: rgba(202, 202, 202, 0.116);
        }
      }
      &.current-date {
        border: 2px solid #b6bf00;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      i {
        position: absolute;
        right: 0;
        top: 0px;
        background: rgba(0, 0, 0, 0.9);
        color: #fff;
        font-size: 11px;
        padding: 2px;
      }
    }
  }
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;

  .preview {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    about img {
      flex: 0 0 100%;
      max-height: 99%;
      max-width: 99%;
      object-fit: contain;
    }
    img {
      max-height: 512px;
    }
  }
  .img-control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .controls {
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: 1px;

    .intervalPanel {
      margin-right: 10px;

      input {
        width: 40px;
      }
    }
    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .ctrl {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      background: #000;
      width: 26px;
      height: 26px;
      border-radius: 20px;

      span {
        display: inline-block;
      }
      &:hover {
        background: #487191;
      }
    }
    small {
      margin: 0 10px;
      width: 100px;
    }
    .play {
      border-left: 6px solid #fff;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }
    .pause {
      border-left: 3px solid #fff;
      border-right: 3px solid #fff;
      height: 14px;
      width: 4px;
    }

    .btn {
      font-size: 14px;
    }
    .fa {
      font-size: initial;
    }
  }
}

.closeWindow {
  position: absolute;
  right: 16px;
  top: 10px;
  z-index: 999;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 3px solid #fff;
    height: 14px;
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
}
