.language-selector {
  padding-right: 10px;

  .menu-flags {
    color: white;
    background-color: #2a2c38;
    padding: 0;

    button {
      padding: 0 12px 0 4px;
      color: white;
      text-transform: uppercase;
      border: none;

      span {
        font-size: 12px;
      }
    }

    ul {
      width: 140px;
      min-height: 200px;
      max-height: none;
      background-color: #525e73;
      text-transform: uppercase;

      @media only screen and (max-height: 450px) {
        & {
          max-height: 200px;
        }
      }
    }

    li {
      font-size: 12px;
    }

    /* stylelint-disable selector-class-pattern  */
    .ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded='false']::after {
      border-top: 5px solid white;
    }

    .ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded='true']::after {
      border-bottom: 5px solid white;
    }
    /* stylelint-enable */
  }
}
