@import '../variables';
#dateCompareFloat {
  margin-top: 50px;
}

div.react-date-field > .react-date-field__picker,
div.react-date-picker__nav-bar--theme-default
  .react-date-picker__nav-bar-history-view {
  color: #fff;
  border: none;
  background: $mainMedium;
}

div.react-date-field__expanded {
  z-index: 10;
}
div.react-date-field > .react-date-field__picker {
  position: fixed;
  min-width: auto;
}
.react-date-picker__nav-bar--theme-default {
  background: $mainMedium;
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--disabled,
div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--disabled
  .react-date-picker__month-view-day-text:hover,
div.react-date-picker__decade-view--theme-default
  .react-date-picker__decade-view-year--disabled {
  border: none !important;
  opacity: 0.3;
  color: #aaa !important;
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day
  .react-date-picker__month-view-day-text:hover {
  border-color: $primaryCol;
  background: none;
  color: #fff;
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--active
  .react-date-picker__month-view-day-text,
div.react-date-picker__year-view--theme-default
  .react-date-picker__year-view-month--active.react-date-picker__year-view-month--value,
div.react-date-picker__decade-view--theme-default
  .react-date-picker__decade-view-year--active.react-date-picker__decade-view-year--value,
div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--value
  .react-date-picker__month-view-day-text {
  border-color: $primaryCol;
  background: $primaryCol;
}

.react-date-picker__footer--theme-default
  .react-date-picker__footer-button:not(.react-date-picker__footer-button--disabled) {
  background: none;
  border-radius: 5px;
  color: #fff;
  border: none;
  border: 2px solid $primaryCol;
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--prev-month,
.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--next-month {
  color: #666;
}

.react-date-picker__footer--theme-default
  .react-date-picker__footer-button:not(.react-date-picker__footer-button--disabled):hover {
  background: $primaryCol !important;
  border: 2px solid $primaryCol !important;
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--weekend-highlight.react-date-picker__month-view-day--prev-month,
div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--weekend-highlight.react-date-picker__month-view-day--next-month {
  color: #444;
}

div.react-date-picker__nav-bar--theme-default
  .react-date-picker__nav-bar-arrow {
  fill: #fff;
}

div.react-date-field--theme-default > .react-date-field__picker {
  border: none;
}

.react-date-picker__nav-bar-arrow--disabled {
  opacity: 0.5;
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--today-highlight,
div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--today-highlight.react-date-picker__month-view-day--next-month {
  background: none;
  color: $primaryCol;
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--value.react-date-picker__month-view-day--today-highlight
  .react-date-picker__month-view-day-text {
  color: #fff;
}

.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-week-day-names {
  background: $mainDark;
  div {
    opacity: 0.7;
    font-size: 0.9em;
  }
}

div.react-date-picker__month-view--theme-default
  .react-date-picker__month-view-day--weekend-highlight {
  color: #ddd;
}

div.react-date-picker__month-view--theme-default {
  background: $mainDark;
}

input.react-date-field__input {
  background: none;
  color: #eee;
  width: 100px;
  border: none !important;
}

.probaDatePicker {
  display: inline-block;
}

.hasData {
  background: #444 !important;
  color: #fff !important;
  border-radius: 40px;
  border: none !important;
}

div.react-date-field--theme-default {
  border: none !important;
}

.react-date-field__calendar-icon {
  display: none;
}

@media (max-height: 660px) and (max-width: 600px) {
  div.react-date-field--theme-default > div.react-date-field__picker {
    position: fixed;
    // margin: 0;
    // top: 50%;
    // left: 20px;
    // right: 20px;
    // min-width: auto;
    // margin-top: -35%;
  }
}
i.fa.cal-icon-left:hover,
i.fa.cal-icon-right:hover {
  cursor: pointer;
}
i.fa.cal-icon-left,
i.fa.cal-icon-right {
  color: #fff;
}
i.fa.cal-icon-left,
i.fa.cal-icon-right,
i.fa.cal-icon-cal {
  width: $controlsHeight/2;
}
i.fa.cal-icon-left.disabled,
i.fa.cal-icon-right.disabled {
  color: #aaa;
}
