@import '../../variables.scss';

.date-picker {
  border-bottom: 1px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: baseline;

  :hover {
    cursor: pointer;
  }

  .date-picker-input-wrapper {
    .date-picker-input-icon {
      color: #fff;
      text-align: center;
      width: 20px;
    }

    .date-picker-input {
      background: none;
      color: #eee;
      border: none;
      width: 75px;
    }

    .cal-icon-left,
    .cal-icon-right {
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    /***  month and year select  ***/ //

    i.fa.cal-icon-left,
    i.fa.cal-icon-right {
      color: #fff;
    }

    i.fa.cal-icon-left,
    i.fa.cal-icon-right,
    i.fa.cal-icon-cal {
      width: $controlsHeight/2;
    }

    i.fa.cal-icon-left.disabled,
    i.fa.cal-icon-right.disabled {
      color: #aaa;
    }
  }
}
