@import '../variables';

/* stylelint-disable */
.web3dinfoPanel {
  background: rgba(44, 48, 51, 0.7) !important;
  color: $textCol !important;
  border: none !important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

  .coordsViewer {
    margin-left: 10%;
  }

  .copyright {
    .gwt-Anchor {
      text-decoration: none;
      color: $primaryCol;
    }
  }
}

.sgDialogBox { z-index: 1000; }
/* stylelint-enable */

.terrain-viewer-button {
  z-index: 400;
  cursor: pointer;
  position: absolute;
  top: 310px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background: $mainDark;
  padding: 0;
  color: #fff;
  margin: 0;
  height: 40px;
  width: 40px;
  border: none;
  overflow: visible;
  right: 10px;
  text-align: center;

  i {
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
    color: $primaryCol;

    &.disabled {
      opacity: 0.5;
    }
  }
}

.terrain-visualization {
  color: $textCol;

  .title {
    font-size: 20px;
    font-weight: normal;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
  }

  #terrain-map-container {
    text-align: center;
  }

  .download-button-holder {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

    .download-button {
      width: 20%;
      min-width: 100px;
    }

    .toggle-captions {
      margin-left: 20px;

      label {
        margin-left: 5px;
      }
    }

    .actions {
      width: 80px;
      height: 40px;
      margin-left: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .action-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          color: $primaryCol;
          margin-right: 5px;
          font-size: 20px;
        }

        &.pin-saved {
          i {
            opacity: 0.5;
            pointer-events: none;
          }
        }

        .social-networks {
          z-index: 5;
          padding: 5px;
          background-color: #eee;
          box-shadow: 0 2px 5px #000;
          position: fixed;
          color: #fff;
          display: flex;
          margin-top: -80px;
          margin-right: 180px;

          .copy-to-clipboard {
            margin-left: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            color: $primaryCol;
            padding: 3px 8px 3px 3px;
          }

          .holders {
            .facebook-share-button,
            .twitter-share-button,
            .linkedin-share-button {
              i {
                font-size: 30px;
              }
            }
          }

          input {
            color: $mainDark;
          }

          input:disabled {
            background: #ccc;
          }

          .disabled {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
