@import '../variables';

/* stylelint-disable */
.web3dinfoPanel {
  background: rgba(44, 48, 51, 0.7) !important;
  color: $textCol !important;
  border: none !important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

  .coordsViewer {
    margin-left: 10%;
  }

  .copyright {
    .gwt-Anchor {
      text-decoration: none;
      color: $primaryCol;
    }
  }
}

.GPFUKGKCPO.position-top-right {
  background: $mainDark;
  border-radius: 0 !important;
  padding: 0 !important;

  .GPFUKGKCAP {
    border: none;
    color: $mainDark;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    text-decoration: none;

    .gwt-Image {
      width: 20px;
      height: 20px;
    }
  }
}
/* stylelint-enable */

.terrain-viewer-button {
  z-index: 400;
  cursor: pointer;
  position: absolute;
  top: 310px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background: $mainDark;
  padding: 0;
  color: #fff;
  margin: 0;
  height: 40px;
  width: 40px;
  border: none;
  overflow: visible;
  right: 10px;
  text-align: center;

  i {
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
    color: $primaryCol;

    &.disabled {
      opacity: 0.5;
    }
  }
}

.terrain-visualization {
  color: $textCol;

  .title {
    font-size: 20px;
    font-weight: normal;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
  }

  #terrain-map-container {
    text-align: center;
  }

  .download-button-holder {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

    .download-button {
      width: 20%;
      min-width: 100px;
    }

    .toggle-captions {
      margin-left: 20px;

      label {
        margin-left: 5px;
      }
    }
  }
}

.terrain-viewer-help {
  height: 95%;
  overflow: auto;
  margin-top: 5%;
  color: $textCol;
  background: $mainDark;

  .help-controls {
    h2 {
      margin-bottom: 10px;
    }

    div {
      margin-bottom: 14px;
      font-size: 12px;
      padding-right: 5px;

      .text {
        margin-left: 60px;
        min-height: 50px;
      }

      .right-img {
        margin-top: 10px;
        float: left;
      }
    }
  }
}
