@import '../../variables.scss';

/* stylelint-disable */
.mode-selection {
  position: absolute !important;
  right: 110px;
  font-size: 12px;
  z-index: 400;
  color: #fff;
  height: 40px;
  width: 190px;
  text-align: center;
  top: 10px;
  background-color: $mainDark;
  cursor: pointer;

  @media (max-width: $breakpoint-700) {
    width: 40px;
  }

  .active {
    color: #b6bf00;
  }

  .mode-selection-button {
    -webkit-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;
    display: flex;

    i {
      font-size: 20px;
      line-height: 40px;
      width: 40px;
      cursor: pointer;
    }

    .label {
      display: inline-block;
      line-height: 40px;
      padding: 0 5px 0 10px;
      font-size: 14px;
      font-weight: bold;

      @media (max-width: $breakpoint-700) {
        display: none;
      }
    }

    .react-toggle {
      margin: 8px;

      .react-toggle-track-check,
      .react-toggle-track-x {
        display: none;
      }

      @media (max-width: $breakpoint-700) {
        display: none;
      }
    }
  }

  .mode-selection-panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: auto;
    background-color: $mainMedium;
    min-width: 115px;
    -webkit-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      padding: 0 2px;
    }

    .items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 5px 0 5px 0;

      label > input {
        vertical-align: bottom;
        margin-right: 5px;
      }
    }
  }
}
