.curve-editor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 20px;

  .curve-editor-canvas {
    cursor: crosshair;

    &.on-point {
      cursor: pointer;
    }
  }
}
