@import './variables.scss';

html,
body,
#root,
#app,
#map {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

.rodal {
  z-index: 1000;
}

.rodal-dialog {
  background: $mainDark;
}

.fa-exclamation-circle {
  padding: 0 5px !important;
}

@media screen and (max-width: 768px) {
  .rodal-dialog {
    width: 400px !important;
  }
}

@media screen and (max-width: 500px) {
  .rodal-dialog {
    width: 300px !important;
  }
}
