@import 'variables';

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 180px;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
}
.geosuggest__input {
  width: calc(100% - 15px);
  background: none;
  border: none;
  color: #fff;
  padding: 0;
  height: 30px;
  line-height: 30px;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
  margin-bottom: 0;
}
.geosuggest__input:focus {
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: $mainMedium;
  color: $textColor;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 14px;
  padding: .5em .65em;
  cursor: pointer;
  border-bottom: 1px solid $mainLight;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  color: #fff;
}
.geosuggest-item--active {
  background: $primaryCol;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: $primaryCol;
}