@import 'variables';
@import 'geosuggest';
$loginBg: url('./bahamas.jpg');
$bg-img: url('./components/bg.jpg');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.centeredFa {
  i {
    margin-right: 0 !important;
  }
}
.loginWrap {
  .loginPanel {
    text-align: center;
    color: #fff;
    .btn {
      display: block;
      margin: 20px auto 10px;
      max-width: 200px;
    }

    label {
      display: block;
      margin: 20px 0 10px;
    }
    input[type='checkbox'] + label {
      display: inline-block;
      font-size: 0.9em;
      opacity: 0.8;
      margin: 5px 3px;
    }
  }
}

.poweredby {
  background: $mainDark;
  font-size: 11px;
  padding: 10px;
  color: #fff;

  .esa {
    float: right;
    margin-top: -9px;
    img {
      width: 20px;
    }
  }
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}
.logoHeader {
  padding: 5px 10px 50px 52px;
  overflow: hidden;
  background: $bg-img left top no-repeat;
  background-size: cover;

  .appTitle {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }

  .userPanel {
    position: absolute;
    right: 9px;
    top: 12px;
    font-size: 12px;

    .fa {
      font-size: 16px;
      color: #fff;
      margin-left: 5px;
    }
  }

  a {
    cursor: pointer;
    img {
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}

.imageBucketRoot .logoHeader.withBg {
  background: $mainMedium;
}

#nprogress .bar {
  background: $primaryCol;
  .peg {
    box-shadow: 0 0 10px $primaryCol, 0 0 5px $primaryCol;
  }
  .spinner-icon {
    border-top-color: $primaryCol;
    border-left-color: $primaryCol;
  }
}
a {
  color: $primaryCol;
  cursor: pointer;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  text-align: center;
  color: #fff;

  i {
    margin: calc(100vh / 2 - 50px) auto 10px;
    font-size: 45px;
    display: block;
  }
}

input,
.inlineDatepicker {
  border: none;
  border-bottom: 1px solid #fff;
  padding: 5px;
  color: #fff;
  background: none;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  i {
    height: $controlsHeight;
    width: $controlsHeight;
    color: #fff;
    text-align: center;
    line-height: $controlsHeight + 8px;
    & + span {
      font-size: 15px;
    }
  }
}

.btn {
  border-radius: 6px;
  border: none;
  background: $primaryCol;
  color: #fff;
  padding: 6px 10px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;

  &.full-size {
    display: block;
    text-align: center;
  }
  i {
    margin-right: 5px;
  }

  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: all ease 0.4s;
  }
  &.secondary {
    background: $mainMedium;
  }
  &.disabled,
  &[disabled],
  &[disabled]:hover {
    color: #666;
    background: #eee;
    cursor: default;
  }
}

.notification {
  margin: 10px auto;
  max-width: 400px;
  padding: 10px;
  position: relative;
  text-align: center;
  color: orange;
  font-size: 14px;
}

.imageWithLoader {
  display: block;
  text-align: center;
  i {
    margin: calc(100vh / 2 - 50px) auto 10px;
    font-size: 45px;
    display: block;
  }
}

.leaflet-popup-pane {
  z-index: 300;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: $mainMedium;
  color: $textColor;
}
.leaflet-bottom .leaflet-control.leaflet-bar {
  margin-top: -15px;
}
.rodal-dialog {
  z-index: 1000 !important;
  background: $mainMedium;

  .rodal-close:before,
  .rodal-close:after {
    background: white;
  }

  .dialogContent {
    padding: 10px;
  }
  .dialogBtnPanel {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 5px;
  }
}

div.socialLogin {
  position: absolute;
  right: 330px;
  top: 30px;
  left: auto;
}

.leaflet-container .leaflet-control-attribution {
  background: $mainMedium;
  color: rgba(255, 255, 255, 0.6);

  a {
    color: $primaryCol;
  }
}
.leaflet-control-layers,
.leaflet-bar {
  border: none !important;
  background: $mainMedium;
  color: #fff;
  border-radius: 0;
  /*margin-top: 15px !important;*/
  margin-top: 10px !important;
}
.leaflet-control-layers-toggle {
  background-image: url(layers.png);
  border: none;
  width: 40px !important;
  height: 40px !important;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(layers2x.png);
}
.leaflet-bar a {
  background: $mainMedium;
  color: #ddd;
  &:hover {
    background: $mainDark;
    color: #fff;
  }
}

#aboutSentinel {
  position: absolute;
  left: calc(50% - 250px);
  background: $mainMedium;
  color: $primaryCol;
  bottom: 0;
  z-index: 10;
  padding: 2px;
  font-size: 11px;
  text-decoration: none;
  cursor: pointer;
  a {
    padding: 3px 5px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #eee;
    color: $primaryCol;

    &:first-child {
      border: none;
    }
  }
}

.shareBar {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  transition: all ease 0.5s;
}
.shareBar a {
  color: #fff;
  opacity: 0.7;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 4px;
}
.leaflet-control-scale-line {
  background: $mainMedium;
  color: #fff;
  border-color: #fff;
}
.shareBar a:hover {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .leaflet-control-zoom {
    display: none;
  }

  .leaflet-container .leaflet-control-attribution {
    bottom: 25px;
  }

  #aboutSentinel {
    left: auto;
    right: 0;
  }
}
