$primaryCol: #b6bf00;
$primaryColDarker: #6d7300;
$primaryColLighter: #e7f200;
$mainDark: #101119;
$mainMedium: #2a2c38;
$mainLight: #434450;
$mainLighter: #5b5b65;
$textColor: #eee;
$bandPopupSize: 60px;
$errorCol: #da4453;

$pinTextCol: #d0d5dd;
$textCol: #eee;

$controlsHeight: 40px;
$toolsWidth: 430px;
$toolsTransitionSpeed: 0.7s;
$controlsTransitionSpeed: 0.6s;

$basicMargin: 10px;
$basicPadding: $basicMargin;
$bandPopupSize: 60px;

$boxShadow: 0 2px 4px rgba(0, 0, 0, 0.5);

$breakpoint-360: 360px;
$breakpoint-400: 400px;
$breakpoint-415: 415px;
$breakpoint-430: 430px;
$breakpoint-450: 450px;
$breakpoint-500: 500px;
$breakpoint-600: 600px;
$breakpoint-641: 641px;
$breakpoint-700: 700px;
$breakpoint-720: 720px;
$breakpoint-740: 740px;
$breakpoint-768: 768px;
$breakpoint-890: 890px;
$breakpoint-900: 900px;
$breakpoint-940: 940px;
$breakpoint-1024: 1024px;
$breakpoint-1200: 1200px;
$breakpoint-1280: 1280px;
