$primaryCol: #b6bf00;
$primaryColDarker: #6d7300;
$mainDark: #191a25;
$mainMedium: #22232d;
$mainLight: #3b3d4d;
$textColor: #868fa0;
$bandPopupSize: 60px;
$errorCol: #da4453;

$textCol: #eee;

$controlsHeight: 40px;
$toolsWidth: 430px;
$toolsTransitionSpeed: 0.7s;
$controlsTransitionSpeed: 0.6s;

$basicMargin: 10px;
$basicPadding: $basicMargin;
$bandPopupSize: 60px;
