@import '../../variables.scss';

/* stylelint-disable */
.location-search-box {
  background-color: $mainDark;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  .icon-search {
    background-color: $mainDark;
    color: white;
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
  }

  .autocomplete {
    background-color: $mainLight;

    input {
      width: 100%;
      height: 40px;
      padding: 10px 4px;
      flex-direction: column;
      box-sizing: border-box;
      font-size: 15px;
      background-color: $mainMedium;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      color: white;

      &::placeholder {
        color: rgba(white, 0.3);
      }
    }

    #powered_by_google_img {
      padding-left: 4px;
      padding-top: 4px;
      background-color: $mainMedium;
    }

    .search-item {
      background-color: $mainMedium;
      border-bottom: 1px solid #636679;
      padding: 4px;
      cursor: pointer;

      &:hover {
        background-color: #b6bf00;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-700) {
  .location-search-box {
    flex-direction: row-reverse;

    .autocomplete.close {
      width: 0;

      input {
        width: 0;
        padding: 0;
        border: 0;
        padding: 0;
      }
    }

    .autocomplete.open {
      input {
        width: 120px;
        flex-direction: column;
        box-sizing: border-box;
      }
    }
  }
}
