@import './../../variables.scss';

.histogram-modal {
  z-index: 1002;
  position: absolute;
  background-color: $mainDark;
  color: #fff;

  .loading-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;

    .loading {
      text-align: center;

      i {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

  .error-holder {
    height: 300px;
    margin: 10px 20px 0;
  }

  .histogram {
    cursor: crosshair;
    display: flex;
    justify-content: center;
  }

  svg.visualization-layer {
    text {
      fill: #fff;
    }

    path.tick-line {
      shape-rendering: crispEdges;
      stroke: #666;
      stroke-dasharray: 5, 5;
    }

    line.axis-baseline {
      shape-rendering: crispEdges;
      stroke: #eee;
    }

    .data-visualization {
      .pieces {
        fill: #fff;
      }
    }
  }

  svg.background-graphics {
    text {
      fill: #fff;
    }

    path.tick-line {
      shape-rendering: crispEdges;
      stroke: #666;
      stroke-dasharray: 5, 5;
    }

    line.axis-baseline {
      shape-rendering: crispEdges;
      stroke: #eee;
    }
  }

  div.annotation {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .recalculate-button {
    color: $mainDark;
    float: right;
    margin-right: 20px;
  }
}
