@import '../../variables.scss';

.accordion-wrap {
  border-bottom: 2px solid $mainMedium;

  &:last-of-type {
    padding-bottom: 8px;
  }
}

.accordion-title {
  align-items: center;
  background-color: $mainLight;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: white;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: $mainDark;
    color: $primaryCol;
  }
}

.accordion-content {
  background-color: $mainLight;
  padding: 8px 12px;
  border-top: none;
}
