@import '../../variables.scss';

/* stylelint-disable */
.eob-timelapse-panel {
  .myProgress {
    width: 50%;
    background-color: #ddd;
  }

  .myBar {
    width: 1%;
    height: 20px;
    background-color: #b6bf00;
  }

  .left-checkbox label {
    text-align: right;
    float: right;
    font-weight: normal;
  }

  .left-checkbox input[type='checkbox'] {
    margin-left: 0;
    vertical-align: middle;
    height: 15px;
    width: 15px;
  }

  .modalTimelapse {
    box-shadow: 0 0 10px #000;
    position: fixed;
    left: 5%;
    top: calc(5vh);
    width: 90%;
    height: 90vh;
    z-index: 1001;
    background-color: $mainDark;
    color: #fff;

    > h1 {
      font-size: 20px;
      font-weight: normal;
      margin: 0 0 1px;
      height: 50px;
      padding: 0 15px;
      line-height: 50px;
    }
  }

  .wrap {
    height: calc(100% - 50px);
    display: flex;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .loader {
    position: relative;
    width: 20px;
    display: inline-block;
  }

  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-top: 16px;
    border-radius: 50%;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    animation: spinner 0.6s linear infinite;
  }

  .date-range {
    margin: 0 15px 10px 0;
  }

  .maxCC {
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px;
    color: #fff;
    background: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 15px;

    i {
      height: 40px;
      color: #fff;
      text-align: center;
      line-height: 48px;
    }
  }

  .side {
    flex-basis: 320px;
    display: flex;
    background-color: $mainDark;
    flex-direction: column;
    align-items: center;

    .head {
      padding: 0 10px 10px 10px;
      min-width: 250px;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      .date-range input {
        width: 80px;
      }

      a.search-button {
        margin-top: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .timelapse-date-select {
        padding: 0 10px;
        margin: 10px 0;

        > span {
          padding: 5px;
        }
      }

      .timelapse-calendar-holder {
        display: block;
      }
    }

    .filter-tools {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      padding: 0 0 0 0;
    }

    .filter-tools {
      > div {
        min-width: 200px;
        flex: 1 1 auto;
        margin: 10px;
      }
    }

    .left {
      float: left;
      margin: 0;
      display: flex;
      align-items: center;
    }

    .overlays {
      font-size: 14px;
      min-width: 200px;
      display: flex;
      flex-direction: column;

      > div {
        flex: 1 1 auto;
        text-align: center;
      }
    }

    .select-period-container {
      font-size: 0.9em;
      display: flex;
      flex-flow: column;
      margin: 5px 15px 20px 15px;

      .select-period-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;

        .period {
          display: flex;
          align-items: center;

          input {
            margin-bottom: 2px;
          }
        }
      }
    }

    .select-all {
      min-width: 200px;
      font-size: 14px;
      vertical-align: middle;
      margin-top: 10px;
    }

    .images {
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      -ms-flex-align: center;
      align-items: center;
      overflow: auto;
      flex: 1;

      div {
        border: 2px solid transparent;
        max-width: 200px;
        max-height: 200px;
        width: 100%;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        margin: 2px;
        transition: max-height 0.1s ease-in;

        span {
          height: 22px;
          width: 22px;
          position: absolute;
          cursor: pointer;
        }

        &.active {
          span {
            &::before {
              content: '';
              background: #fff;
              left: 5px;
              top: 5px;
              width: 22px;
              height: 22px;
              border-radius: 11px;
              position: absolute;
            }

            &::after {
              content: '';
              width: 4px;
              height: 10px;
              border-right: 4px solid green;
              border-bottom: 4px solid green;
              transform: rotate(45deg);
              position: absolute;
              left: 11px;
              top: 8px;
            }
          }
        }

        &.false {
          background-color: $mainMedium;
          max-height: 20px;

          span {
            &::before {
              content: '';
              background: #fff;
              left: 5px;
              top: 1px;
              width: 18px;
              height: 18px;
              border-radius: 9px;
              position: absolute;
            }
          }

          img {
            visibility: hidden;
          }

          i {
            background-color: $mainMedium;
          }
        }

        &.cloudy {
          background-color: $mainMedium;
          max-height: 20px;

          & .fa-cloud {
            color: #658db0;
            background-color: transparent;
            font-size: 16px;
            left: 3px;
          }

          img {
            visibility: hidden;
          }

          i {
            background-color: $mainMedium;
          }
        }

        &.current-date {
          border: 2px solid #b6bf00;
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
        }

        i {
          position: absolute;
          right: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.9);
          color: #fff;
          font-size: 11px;
          padding: 2px;
        }
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 350px);
    overflow: auto;
    background-color: $mainMedium;

    .preview {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: center;
      justify-content: center;
      overflow: auto;

      .wrapper {
        margin: auto;
        width: calc(100vh - 200px);
        max-width: 512px;
        max-height: 512px;

        img {
          height: 100%;
          width: 100%;
          max-height: 512px;
          max-width: 512px;
        }
      }
    }

    .img-control {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }

    .controls {
      flex-basis: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 12px;
      margin-top: 10px;
      background-color: $mainDark;
      margin-left: 1px;

      .intervalPanel {
        margin-right: 10px;

        input {
          width: 40px;
        }
      }

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      .ctrl {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        background: $primaryCol;
        width: 30px;
        height: 30px;
        border-radius: 30px;

        span {
          display: inline-block;
        }

        &:hover {
          background: #487191;
        }
      }

      .timeline-label {
        margin: 0 10px;
        min-width: 100px;
      }

      .timeline-label.per-orbit {
        min-width: 150px;
      }

      .play {
        border-left: 11px solid $mainDark;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        margin-left: 3px;
      }

      .pause {
        border-left: 3px solid $mainDark;
        border-right: 3px solid $mainDark;
        height: 14px;
        width: 4px;
      }

      .btn {
        font-size: 14px;
      }

      .fa {
        font-size: initial;
      }
    }
  }

  .fa.fa-close {
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 999;
    cursor: pointer;
    padding: 10px;
  }

  @media only screen and (max-width: 850px) {
    .modalTimelapse {
      position: fixed;
      left: 5px;
      top: calc(1vh);
      width: 98%;
      height: 98vh;
    }

    .content {
      .controls {
        flex-wrap: wrap;

        .timeline-slider {
          margin: 0 20px;
        }
      }
    }
  }

  .filter-months {
    width: 100%;

    .filter-search-by-months {
      color: #fff;
      font-size: 0.9em;
      margin: 0 5px 10px;
    }

    .months {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 10px;
    }

    .align-checkbox {
      min-width: 48px;
      padding: 1px 2px;
    }
  }
}
