@import '../variables';

$searchBorderColour: #6d7300;

.tools-wrapper {
  max-width: 450px;
  min-width: 260px;
  color: #868fa0;
  left: 10px;
  right: 10px;
  top: 10px;
  position: fixed;
  box-shadow: $boxShadow;
  z-index: 500;

  .tools-container {
    max-height: calc(100vh - 20px); // same space (10px) on top and bottom
    display: flex;
    flex-flow: column;
  }
}

.open-tools {
  display: block;
  position: absolute;
  color: #fff;
  background: $mainDark;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  transition: all ease 0.4s;
  top: 3px;

  i {
    margin: 5px;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    transition: all ease 0.4s;
  }

  i.fa-cogs {
    margin: 10px;
    font-size: 20px;
  }

  &.open {
    box-shadow: 0 2px 10px #000;
    left: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.select-time-range {
  margin-top: 10px;

  & > label {
    display: block;
  }
  /* stylelint-disable */
  div.inlineDatepicker {
    margin: 10px 20px 5px 20px;
    padding: 3px 5px;
    position: relative;
  }
  /* stylelint-enable */

  .date-pickers-wrapper {
    .calendar-wrapper {
      margin: 8px -10px 0 -10px;
    }

    .date-picker-separator {
      display: inline-block;
      vertical-align: middle;
    }

    .date-picker {
      margin: 8px 8px 0;
      padding: 3px 5px;
    }
  }
}

.data-source-group-tooltip-credits > div {
  padding-top: 5px;
  padding-right: 6px;
}

.theme-select {
  select {
    width: 100%;
  }

  &.top {
    padding: 15px 10px 20px 10px;
  }

  &.bottom {
    margin-top: 20px;
  }

  .configurations-settings {
    margin-left: 10px;
    color: $primaryCol;
  }
}

.search-panel {
  background-color: $mainMedium;

  .notification {
    a {
      color: $primaryCol;
    }
  }

  .hidden {
    display: none;
  }

  div.top-label {
    font-weight: bold;
    color: #b5bdcc;
  }

  div.top-label > div {
    margin: 8px 0 10px 8px;
    font-weight: normal;
    font-size: 0.8em;
  }

  div.clear {
    clear: both;
  }

  .discover-tabs {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    list-style: none;

    .discover-tab-button {
      flex: auto;
      text-align: center;
      list-style: none;
      cursor: pointer;
      color: #eee;
      padding: 9px 10.5px 7px 10.5px;
      width: 25%;
    }

    .hidden {
      display: none;
    }

    .active {
      background-color: $mainLight;
    }

    .not-clickable {
      pointer-events: none;
    }
  }

  .discover-tab {
    background-color: $mainLight;
    border-width: 1px;
    padding: 10px;
    font: $textColor;

    .hidden {
      display: hidden;
    }
  }

  & > label,
  & > label + * {
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
  }

  .checkbox-group {
    .title {
      display: flex;
      clear: both;
    }

    label {
      display: block;
    }

    .no-theme-selected {
      font-size: 14px;
      color: orange;
    }
  }

  div.data-source-group {
    clear: both;
    padding: 2px 0;

    label {
      float: left;
      clear: both;
      color: #cdd5e3;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 0.9rem;

      input {
        cursor: pointer;
        width: 15px;
        height: 15px;
      }
    }

    div.datasources {
      margin-left: 20px;
      clear: both;
    }

    div.filters {
      clear: both;

      & > div {
        float: left;
      }

      div.filter {
        clear: both;
        line-height: 30px;
        position: relative;
        display: block;

        label {
          vertical-align: middle;
          display: inline-block;
          margin-right: 20px;
        }

        select {
          margin-left: 20px;
          float: right;
          height: 25px;
        }
      }
    }
  }

  .btn {
    display: block;
    text-align: center;
    margin: 25px 0 10px 0;
  }
}

.search-panel p {
  margin-top: 0.5em;
  font-size: 0.8em;
}

.data-source-group-tooltip-logo {
  width: 61px;
}

.data-source-group-tooltip-description {
  z-index: 1000;
  margin-bottom: 2px;
}

.data-source-group-tooltip-credits {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -3px;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding: 2px;
  color: #cdd5e3;
  font-size: 0.9em;
  width: 100%;
  margin: 5px 0;
  text-align: left;

  :focus {
    outline-offset: 0;
  }

  option {
    color: #000;
    border: none;
    padding: 2px;
    text-align: left;
  }
}

.search-loader {
  background-color: #3b3d4d;
}
